# Database & Auth
MONGO_URI=
JWT_SECRET=
GOOGLE_CLIENT_ID=

# AI & Services
GEMINI_API_KEY=
STRIPE_SECRET_KEY=

# --- GATEWAY (The Main Entry Point) ---
# This is the URL your React Frontend will talk to
GATEWAY_PORT=5000

# --- BACKEND SERVICES ---
# Each service runs on its own internal port
AUTH_PORT=5001
TRANSACTION_PORT=5002
AI_PORT=5003
PAYMENT_PORT=5004